<div class="col-md-12">
    <a href="#/KitsPruebas/Create" class="btn btn-primary">Agregar</a>
    <table class="table">
        <thead>
            <tr>
                <th>No</th> 
                <th>Equipo</th> 
                <th>Acciones</th>
            </tr>                                
        </thead>
        <tbody>
            <tr ng-repeat="row in kits">
                <td><a href="#/KitsPruebas/Edit/{{row.id}}">{{row.noCarril}}</a></td>                
                <td>{{row.equipo}}</td>
                <td>
                    <button class="btn btn-danger">Borrar</button>
                </td>                          
            </tr>
        </tbody>
    </table>
</div>